<!--Este código es puro HTML. La única diferencia es que handlebars permite utilizar plantillas para el main-->
<!--Este archivo hace de mi body en el endpoint "localhost:8080/home"-->



<!--Lista de productos -->
<table id="productsTable" class="table">
    <!--Parte superior de la tabla con los nombres de los campos -->
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Título</th>
            <th scope="col">Descripción</th>
            <th scope="col">Precio</th>
            <th scope="col">Thumbnail</th>
            <th scope="col">Código</th>
            <th scope="col">Stock</th>
            <th scope="col">Estado</th>
        </tr>
    </thead>

    <!--Cuerpo de la tabla con los productos agregados a la lista -->
    <tbody>
        <!--Esto es un bucle en handlebars -->
        {{#each products}}
        <tr>
            <!--El this hace referencia a cada objeto del forEach -->
            <td>{{this.id}}</td>
            <td>{{this.title}}</td>
            <td>{{this.description}}</td>
            <td>{{this.price}}</td>
            <td>{{this.thumbnail}}</td>
            <td>{{this.code}}</td>
            <td>{{this.stock}}</td>
            <td>{{this.status}}</td>
            <td>
                <button class="removeButton">Eliminar producto</button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>