<!--El valor de la variable "nombre" se define en app.js-->
<h1>Hola, {{nombre}}</h1>
<!--Partials es palabra reservada, así que si yo pongo ">" ya se sabe que quiero ir a partials-->
<!--Voy a counter y luego a counter.handlebars. No necesito poner handlebars porque ya lo definí con engine-->
{{>counter/counter}}

<!--
Ejemplo visto en clase sobre condicionales con handlebars
Si sos tutor, te deja ver los cursos. En caso de que no seas tutor, vas a ver el <p>
-->
{{#if esTutor}}
<!--Esto es un bucle en handlebars, lo hizo el profesor para poder ver los cursos-->
{{#each cursos}}
<div>
    <!--El this hace referencia a cada objeto del forEach-->
    <p>{{this.numCurso}} {{this.dia}} {{this.horario}}</p>
</div>
{{/each}}

{{else}}
<p>No sos tutor</p>
{{/if}}