<!--Este código es HTML con handlebars-->
<!--La única diferencia es que handlebars permite utilizar plantillas con llaves. Como puse en el main-->
<!--Este archivo hace de mi body en el endpoint "localhost:8080/realtimeproducts"-->


<!--Formulario donde agrego los campos requeridos y agrego un producto-->
<h1>Crear Nuevo Producto</h1>
<form id="addForm">

    <label for="title">Title</label>
    <input type="text" required name="title">

    <label for="description">Description</label>
    <input type="text" required name="description">

    <label for="category">Category</label>
    <input type="text" required name="category">

    <label for="thumbnail">Thumbnail</label>
    <input type="text" required name="thumbnail">

    <label for="price">Price</label>
    <input type="number" required name="price">

    <label for="stock">Stock</label>
    <input type="number" required name="stock">

    <label for="code">Code</label>
    <input type="text" required name="code">

    <button type="submit">Enviar</button>

</form><br><br>



<!--Formulario donde agrego un id y elimino un producto-->
<h1>Eliminar un Producto</h1>
<form id="removeForm">

        <label for="id">Id</label>
        <input type="number" required name="id">
    
        <button type="submit">Eliminar</button>
</form>



<!--Tabla donde muestro los productos en tiempo real-->
<table id="productsTable">
    <thead>
        <tr>
            <th scope="col">Estado</th>
            <th scope="col">Título</th>
            <th scope="col">Descripción</th>
            <th scope="col">Categoría</th>
            <th scope="col">Imagen</th>
            <th scope="col">Precio</th>
            <th scope="col">Stock</th>
            <th scope="col">Código</th>
            <th scope="col">ID</th>
        </tr>
    </thead>
    <tbody>
        {{#each products}}
        <tr>
            <td>{{this.status}}</td>
            <td>{{this.title}}</td>
            <td>{{this.description}}</td>
            <td>{{this.category}}</td>
            <td>{{this.thumbnail}}</td>
            <td>{{this.price}}</td>
            <td>{{this.stock}}</td>
            <td>{{this.code}}</td>
            <td>{{this.id}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>